version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: petshopper_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: petshopper_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: petshopper_redis
    restart: always
    ports:
      - "6379:6379"

  redis-insight:
    image: redis/redisinsight:latest
    container_name: petshopper_redis_gui
    ports:
      - "5540:5540"
    depends_on:
      - redis

volumes:
  postgres_data: